*{
margin:0;
padding:0;
}

body{
margin:0;
padding:0;
background-color:blue;
height:100vh;
width:100vw;
}

.navbar-brand{
color:#088f;
font-size:1.5rem;
font-family:"Ubuntu", sans-serif;
font-weight: 600;
}

.navbar-brand:hover{
color:#099f;
font-weight: 600;
}

.navbar-nav .nav-link.active{
color:#555;
font-size:1.1rem;
font-weight:600
}

.navbar-nav .nav-link.active:hover{
color:#099;
font-weight:600
}

.btn-outline-success {
color:#099;
border-color:#099;
}

.btn-outline-success:hover {
background-color:#099;
border-color:#099;
}